{
  "title"         : "RESTeasy",
  "content_file"  : "README.md",
  "include_index" : true,
  "header"        : "RESTeasy",
  "docco_files"   : ["./lib/*.js"],
  "subheader"     : "Node.JS Easy 3rd party OAuth & REST API Consumer",
  "background"    : "diagonal-noise",
  "github"        : "https://github.com/unfolio/RESTeasy"
}